.gradiente-uno{
    width: 300px;
    height: 300px;
    /*vamos a iniciar con 2 colores*/
    background: linear-gradient(
        360seg,
        rgb(252,95,74),
        rgb(0,132,255),
        black,
        red
    );
    color: #fff;
}

.gradiente-dos{
    width: 300px;
    height: 300px;
    background: linear-gradient(to right bottom , red, black,green
    blue);
}